{% extends 'blog_index/baze.html' %}

{% block main %}
<div class="conteiner-baze">
<div class="about_me_text">
    <h2>Обо мне</h2>
    <p>
        Последний год я занимаюсь изучением мира It технологий. И чем больше я погружаюсь в этот мир, тем интереснее
        становиться, и когда начинаешь изучать одно, то появляется еще много смежных технологий, которые хочется
        изучить в дальнейшем. Даже в языке Python, очень много разностаронних библиотек, и мне кажестся,
        что их все изучить не возможно.</p>
    <p>
        После освоения основ Python, начала изучать 2 направления:<br>
        - написание нейросетей (но столкнулась с тем, что моих знаний по высшей математике и теории вероятностей
        не хватает)<br>
        - Web-разработку (она для меня оказалась логичной и понятной, тем более что с написанием сайтов я сталкивалась очень
        давно, но тогда технологии мне не позволяли ее изучать)</p>
    <p>

        Таким образом я начила изучать вёрстку сайтов с применением HTML, CSS (методы разметки grid и flexbox, адаптацию
        сайтов, анимацию), так же фреймворк Bootstrap, и познакомилась с Figma. Далее последовало знакомство с языком
        JavaScript (мне логика этого языка кажется очень похожей на Python, с разницей лишь в оформлении и синтаксисе)
        и библиотекой JQuery.</p>
    <p>

        Отдельно я изучила язык запросов SQL (JOIN, GROUP BY, ORDER BY) и мне это очень помогло
        при изучении фреймворка Django.</p>
    <p>

        Так же я делала выгрузку из Яндекс.Директа через API в Google-таблицы.</p>
    <p>
        До попадания в мир It технологий, я занималась делопроизводством, в том числе
        кадровыми, бухгалтерскими и миграционными документами. И ушла из этой области по причине того,
        что я не видела для себя в этой области дальнейших путей для развития, не смотря на карьерные преспективы.</p>
    <p>
        В свободное время занимаюсь спортом.
        Еще люблю путишествовать, бывать в новых и разных местах.
    </p>

</div>
</div>
{% endblock %}

